<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BelajarSwiftDulu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BE484E31E96B56C009548BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BE484F71E96B56C009548BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BE485021E96B56C009548BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
